/* font-family: "Playfair Display", serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-color: #fffafa;
}

.NotSupported{
  display: none;
}

#about {
  display: flex; justify-content: center;
  height: 100vh;
  background: url(../assets/img/background/red-cloth.jpg);
  background-size: cover;
  z-index: 1;
}

.about-container{
  display: flex; flex-direction: row; align-items: center; justify-content: space-around;
  width: 100%;
}

.about-text{
  display: flex; flex-direction: column;
  color: var(--primary-color);
}
.about-text h1{
  font-family: "Playfair Display", serif; font-size: 5.5em;
}
.about-hr{
  width: 200px;
}

.about-text p{
  font-size: 1.2em;
  max-width: 600px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 30px;
  cursor: text;
}

.about-img img{
  height: 100%; 
  max-width: 28vw; 
  border-radius: 50%;
}

/* Scroll Indicator */
.scroll-indicator {
  position: fixed;
  bottom: 35px;
  transform: translateX(-50%);
  color: var(--primary-color);
  border-radius: 5px;
  text-align: center;
}
.scroll-indicator h1{
  font-size: 1.4em;
  margin-bottom: 5px;
  cursor: default;
}
.scroll-indicator i{
  font-size: 2.2em;
  cursor: default;
}

/* Laptop Smaller Screen */
@media screen and (max-width: 960px){
  #about {
    height: 100%;
    padding: 80px 0;
  }
  .about-container{
    flex-direction: column; justify-content: center;
  }
  .about-text{
    align-items: center;
    padding: 0 50px;
  }
  .about-text h1{
    font-size: 4.5em;
  }
  .about-text p{
    width: 100%; 
  }
  .about-hr{
    width: 180px;
  }
  .about-img{
    margin-top: 30px;
  }
  .about-img img{
    max-width: 350px;
  }
}

/* Tablet Screen */
@media screen and (max-width: 700px){
  .about-text h1{
    font-size: 4em;
    text-align: center;
  }
  .about-hr{
    width: 160px;
  }
  .about-text p{
    margin-top: 4.286vw;
  }
}

/* Mobile Screen */
@media screen and (max-width: 480px){
  .about-text h1{
    font-size: 3.5em;
  }
  .about-hr{
    width: 140px;
  }
  .about-img img{
    max-width: 72.917vw;
  }
}

/* Mobile Smaller Screen */
@media screen and (max-width: 375px){
  .about-text h1{
    font-size: 12.8vw;
  }
  .about-hr{
    width: 35vw;
  }
  .scroll-indicator{
    padding: 10px;
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .scroll-indicator h1{
    font-size: 1em;
  }
  .scroll-indicator i{
    font-size: 1.8em;
  }
}

/* Not supported for Nest Hub, JioPhone 2, iPhone 4 and iPhone 5 */
@media only screen and (max-width: 1024px) and (max-height: 600px) {
  body {
    pointer-events: none;
  }
  #main{
    display: none;
  }
  .NotSupported{
    display: flex; justify-content: center; align-items: center;
    height: 100vh;
    text-align: center;
  }
}